html {
  font-family: 'Quicksand', sans-serif;
}

body {
  background-image: url("../assets/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  opacity: 0.75;
}

h1 {
  margin: 0;
}

#app {
  background-color: white;
  width: 500px;
  text-align: center;
  padding: 20px;
  border-radius: 25px;
  margin: 100px auto 0 auto;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#currentTime {
  font-size: 2rem;
}