* {
  box-sizing: border-box;
}

body {
  background: #f4f4f4;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

.container {
  display: flex;
  padding: 20px;
  margin: 0 auto;
  max-width: 100%;
  width: 800px;
}

aside {
  padding: 10px 20px;
  width: 250px;
  border-right: 1px solid #111;
}

button {
  cursor: pointer;
  background-color: #fff;
  border: solid 1px #111;
  border-radius: 5px;
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 14px;
}

main {
  flex: 1;
  padding: 10px 20px;
}

table#userList {
  width: 100%;
  border-collapse: collapse;
}
table#userList > thead > tr:nth-child(1) {
  font-weight: 300;
  font-size: x-large;
  border-bottom: 1px solid #111;
}

table#userList > thead > tr:nth-child(1) > th {
  padding-bottom:  10px;
}

table#userList > thead > tr:nth-child(2) {
  height: 20px
}

table#userList > thead > tr:nth-child(1) > th:nth-child(1) {
  text-align: left;
}

table#userList > thead > tr > th:nth-child(2),
table#userList > tbody > tr > td:nth-child(2) {
  text-align: right;
}