body {
    font-family: 'Quicksand', sans-serif;
    background-color: #52143d;
    color: white;
}

h1 {
  margin: 0;
  padding: 0;
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
}

#app {
  display: inline-grid;
  grid-template-rows: 80px 40px 50px auto;
  grid-gap: 5px;
  padding: 25px;
  background-color: white;
  color: black;
  width: 500px;
}

#toDoList-Input {
  padding: 10px;
  font-family: 'Quicksand', sans-serif;
  border-radius: 5px;
  border: none;
  border-bottom: 2px solid#e3d9df;
  font-size: 1rem;
  margin-bottom: 10px;
}

#addItem {
  background-color: #52143d;
  color: white;
  font-family: 'Quicksand', sans-serif;
  border-radius: 10px;
  border: none;
  font-size: 1.5rem;
}

#myList {
  padding: 0;
  margin: 0;
  list-style: none;
  max-width: 500px;
}

.task {
  display: flex;
  justify-content: space-between;
  word-break: break-word;
  margin: 0;
  padding: 10px 0;
  border-bottom: 1px solid#e3d9df83;
}

.removeItem {
  cursor:pointer;
  padding-left: 15px;
align-self: center;
}